body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

.grid-container {
	flex: auto;
	display: grid;
	justify-content: space-between !important;
	align-content: space-between !important;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 5px;
	background-color: antiquewhite;
	padding: 20px;
}

/* .grid-container * {
	border: 2px solid black;
} */

#nav-bar {
	display: grid;
	grid-template-columns: 1fr 4fr;
	justify-content: center;
	align-items: center;
	grid-column: span 4;
	background: darkolivegreen;
}

.gameOptions {
	grid-column: 2/3;
}

.chatBot {
	padding: 10px;
	grid-column: 1/2;
}

.card {
	width: 70%;
	height: 180px;
	perspective: 1000px;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	cursor: pointer;
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

.card-front {
	background-color: #3498db;
}

.card-back {
	background-color: #e74c3c;
	transform: rotateY(180deg);
}

#footer {
	flex-shrink: -10;
	min-height: 20vh;
	background: #e74c3c;
}
